<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/sun.jpeg">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="potratit" src="./img/c-1.jpg" alt="">
    </div>
    
    {{>footer}}
    
</body>
</html>