<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/sun.jpeg">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>MAPBOX & DARKSKY - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem consectetur laudantium reiciendis, possimus neque repudiandae dolorum id repellendus nam, eius sunt error reprehenderit quas in eos! Iusto voluptate minima incidunt?</p>
        <img class="potratit" src="./img/c-1.jpg" alt="">
    </div>
    
    {{>footer}}
    
</body>
</html>