<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <link rel="icon" href="/img/sun.jpeg">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>{{name}}</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid maiores repudiandae ut 
            vitae consectetur quia minus dicta reiciendis neque. Iste dolor beatae, et unde nulla voluptates 
            quas consequuntur fugiat deleniti!</p>

        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>
    
    {{>footer}}


    <script src="/js/app.js"></script>
</body>

</html>