<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/sun.jpeg">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>{{errorMsg}}</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid maiores repudiandae ut vitae consectetur quia minus dicta reiciendis neque. Iste dolor beatae, et unde nulla voluptates quas consequuntur fugiat deleniti!</p>

    </div>
    {{>footer}}
</body>

</html>